<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Clients</title>

    <div th:replace="fragments :: head-links"></div>
</head>

<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="content">
        <div class="content-wrapper">
            <div class="content-container">
                <div class="container full-width">
                    <div class="row">
                        <div class="heading-container">
                            <span class="heading-button">
                                <a href="#" class="button button-red button-hidden">Delete</a>
                            </span>
                            <span class="heading-button">
                                <a href="#" class="button button-orange button-hidden">Edit</a>
                            </span>
                            <h1 class="heading">Clients</h1>
                            <span class="heading-button">
                                <a href="/clients/create" class="button button-green">Create</a>
                            </span>
                            <span class="heading-button">
                                <a href="#" class="button button-blue button-hidden">Clone</a>
                            </span>
                        </div>
                    </div>
                    <h4 th:if="${clients.isEmpty()}">No clients found</h4>
                    <table th:if="${!clients.isEmpty()}"
                           class="table table-striped js-sort-table" id="clientTable">
                        <div class="row input-field">
                            <input th:if="${!clients.isEmpty()}" type="text" id="clientSearchInput"
                                   onkeyup="searchTable()">
                            <label for="clientSearchInput">Search for company</label>
                        </div>
                        <thead class="sortable-head">
                        <tr>
                            <th class="js-sort-string">Company</th>
                            <th class="js-sort-string">Contact</th>
                            <th class="js-sort-string">Status</th>
                            <th class="js-sort-number">Monthly Spending</th>
                            <th class="js-sort-number">Total Spending</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="client : ${clients}" th:data-id="${client.id}" class="client-row">
                            <td th:text="${client.companyName}"></td>
                            <td th:switch="${client.contact}">
                                <span th:case="null">None</span>
                                <span th:case="*"
                                      th:text="${client.contact.first_name} + ' ' +  ${client.contact.last_name}"></span>
                            </td>
                            <td th:text="${client.status}"></td>
                            <td th:text="${client.monthlySpending}"></td>
                            <td th:text="${client.totalSpending}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: script-links"></div>

<!-- Sortable Table -->
<script th:src="@{/js/sort-table.js}"></script>

<script type="text/javascript">
    // Search for table
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("clientSearchInput");
        table = document.getElementById("clientTable");
        filter = input.value.toUpperCase();
        if (table == null) {
            console.log("table null")
        } else {
            console.log("table not null")
        }
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $('.client-row').on('click', function () {
        window.location.href = "/clients/" + $(this).data('id');
    });
</script>
</body>
</html>
