<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body style="background-color: #1AA090">
    <div id="access-forbidden-text" style="font-family: 'Segoe UI'; color: white; text-align: center">
        <h1>403</h1>
        <h3>Access forbidden</h3>
    </div>
</body>
</html>