<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Profile</title>

    <div th:replace="fragments :: head-links"></div>

    <!-- Tabs -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="content">
        <div class="content-wrapper">
            <div class="content-container">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <h1>Change Password</h1>
                        </div>
                    </div>

                    <form action="#" method="post" th:action="@{/profile/changePassword}" th:object="${user}"
                          onsubmit="return myFunction();">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="newPassword" type="password" class="form-control"/>
                                <label for="newPassword">New Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="confirmPassword" type="password" th:field="*{password}"
                                       class="form-control"/>
                                <label for="confirmPassword">Confirm new password</label>
                                <small style="color: #FF190A;" th:if="${#fields.hasErrors('password')}"
                                       th:errors="*{password}"></small>
                                <br><small style="color: #FF190A;" id="passwordMatch"></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">

                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn modal-trigger orange" href="#password-guide">How do I choose a secure password?</a>
                                <br>
                                <br>
                                <a type="submit" href="/profile/change-password" class="button ocere">Change
                                    Password</a>
                            </div>
                        </div>
                    </form>

                    <!-- Modal Structure -->
                    <div id="password-guide" class="modal">
                        <div class="modal-content">
                            <h4>Password guide</h4>
                            <b>Standards</b>
                            <p>Nowadays passwords should at least be 8 characters but preferably even longer than that.
                                They should also include a mix of lowercase, uppercase, numbers and special characters
                                to make it harder for anyone to guess or brute-force it. It is also important to not use
                                words which appear in the dictionary because automated attacks use so called "word
                                lists"
                                to try hundreds of thousands of combinations of dictionary word combinations and number
                                combinations.</p>

                            <b>How to</b>
                            <p>One simple trick to create a long and complicated yet memorable password is to take a
                                sentence
                                and abstract it with abbreviations, special characters and mix random numbers in
                                between.</p>
                            <b>Example</b>
                            <p><i>John likes to eat breakfast in the morning</i></p>
                            <b>take out spaces</b>
                            <p><i>Johnlikestoeatbreakfastinthemorning</i></p>
                            <b>only capitalize every third letter</b>
                            <p><i>joHnlIkeStoEatBreAkfAstIntHemOrnIng</i></p>
                            <b>take out every first and last letter of each word</b>
                            <p><i>oHIkeareAkfAsHOrnIn</i></p>
                            <b>Replace A's with 4's, O's with 0's and E's with 3's</b>
                            <p><i>0HIk34r34kf4sH0rnIn</i></p>
                            <b>randomly sparkle your password with a few special characters</b>
                            <p><i>0HIk_34k$f3sH0rn?In</i></p>
                            <b>Summary</b>
                            <p>Now you've got a perfectly secure password that no one is going to guess anytime soon</p>
                            <p>you can check how secure your password is at https://howsecureismypassword.net/</p>
                            <p>It would take a computer 36 Quintillion years to guess 0HIk_34k$f3sH0rn?In</p>
                            <p>Your password doesn't have to be as secure as <i>0HIk_34k$f3sH0rn?In</i> but make sure to choose
                                something a bit more complicated than password123 or OcerePortal1</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: script-links"></div>

<script type="text/javascript">
    //modal
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.modal').modal();
    });


    //document.getElementById("submit").onclick = function() {myFunction()};

    function myFunction() {
        if (document.getElementById("newPassword").value != document.getElementById("confirmPassword").value) {
            document.getElementById("passwordMatch").innerHTML = 'passwords do not match';
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
    });
</script>
</body>
</html>
