<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Clients</title>

    <div th:replace="fragments :: head-links"></div>

    <!-- Tabs -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="content">
        <div class="content-wrapper">
            <div class="content-container">
                <div class="container">
                    <h1>Clients</h1> <a class="btn btn-primary" href="/clients/create">New</a>
                    <br>
                    <br>
                    <h4 th:if="${assigned.isEmpty()}">No clients found</h4>
                    <table th:if="${!assigned.isEmpty()}"
                           class="table table-striped">
                        <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Contact Name</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="client : ${assigned}" th:data-id="${client.id}" class="client-row">
                            <td th:text="${client.companyName}"></td>
                            <td th:text="${client.contactFirstName} + ' ' +  ${client.contactLastName}"></td>
                            <td th:text="${client.status}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: script-links"></div>

<script type="text/javascript">
    $('.client-row').on('click', function () {
        window.location.href = window.location.origin + "/clients/" + $(this).data('id');
    });

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
    });
</script>
</body>
</html>
