<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title th:value="${client.companyName}"></title>

    <div th:replace="fragments :: head-links"></div>
</head>

<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="content">
        <div class="content-wrapper">
            <div class="content-container">
                <div class="container">
                    <h1 th:text="${client.companyName}"></h1>
                    <div class="row">
                        <div class="col-6">
                            <small class="attribute-title">Name</small>
                            <p class="attribute-value" th:text="${client.companyName}">Name</p>
                        </div>

                        <div class="col-6">
                            <small class="attribute-title">Tier</small>
                            <p class="attribute-value" th:text="${client.tier}">Tier</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <small class="attribute-title">Contact Firstname</small>
                            <p class="attribute-value" th:text="${client.contactFirstName}">Contact
                                <Firstname></Firstname>
                            </p>
                        </div>
                        <div class="col-3">
                            <small class="attribute-title">Contact Lastname</small>
                            <p class="attribute-value" th:text="${client.contactLastName}">Contact Lastname</p>
                        </div>
                        <div class="col-6">
                            <small class="attribute-title">Satisfaction</small>
                            <p class="attribute-value" th:text="${client.satisfaction}">Email</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <small class="attribute-title">Phone</small>
                            <p class="attribute-value" th:text="${client.phone}">Phone</p>
                        </div>
                        <div class="col-6">
                            <small class="attribute-title">Website</small>
                            <br>
                            <a class="attribute-value" th:href="${client.website}"
                               th:text="${client.website}">Website</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <small class="attribute-title">Email</small>
                            <p class="attribute-value" th:text="${client.email}">Email</p>
                        </div>
                        <div class="col-6">
                            <small class="attribute-title">Status</small>
                            <p class="attribute-value" th:text="${client.status}">Status</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <small class="attribute-title">Address</small>
                            <p class="attribute-value"
                               th:text="${client.postcode} + ' ' + ${client.city} + ' ' + ${client.street}">Address</p>
                        </div>
                        <div class="col-6">
                            <small class="attribute-title">Contact page</small>
                            <br>
                            <a class="attribute-value" th:href="${client.contactUsPage}"
                               th:text="${client.contactUsPage}">Contact
                                page</a>
                        </div>
                    </div>
                    <br>
                    <a class="btn btn-primary" th:href="${'/clients/edit/' + client.id}">Edit</a>
                    <form class="inlineBlockForm" method="post"
                          th:action="@{/clients/delete/{id}(id=${client.id})}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a href="/clients" class="btn btn-warning">Cancel</a>
                    <a th:href="'/jobs/create?clientId=' + ${client.id}" class="btn btn-success">New Job</a>
                    <div class="row mt-1">
                        <div class="col-12">
                            <table th:if="${!jobs.isEmpty()}" style="width: 100%" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Company</th>
                                    <th>Website</th>
                                    <th>Start</th>
                                    <th>End</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="template-row" th:each="job : ${jobs}" th:data-id="${job.id}"
                                    style="cursor: pointer;">
                                    <td th:text="${job.id}"></td>
                                    <td th:text="${job.company}"></td>
                                    <td th:text="${job.website}"></td>
                                    <td th:text="${#dates.format(job.startDate, 'dd. MMMM YYYY')}"></td>
                                    <td th:text="${#dates.format(job.endDate, 'dd. MMMM YYYY')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: script-links"></div>

<script type="text/javascript">
    $('.template-row').on('click', function () {
        window.location.href = window.location.origin + "/jobs/" + $(this).data('id');
    });

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
    });
</script>
</body>

</html>
