<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>

    <div th:fragment="head-links">
        <link rel="stylesheet" th:href="@{/css/normalize.css}">

        <!--Import Google Icon Font-->
        <link rel="stylesheet" th:href="@{/css/icon.css}">

        <!-- Materialized -->
        <link rel="stylesheet" th:href="@{/css/materialize.min.css}">

        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">

        <!-- Our Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </div>
</head>
<body>

<div th:fragment="header">
    <div class="header-wrapper">
        <div class="header">
            <a href="/">
                <img alt="Ocere Logo" height="42px" src="/img/ocere.svg">
            </a>
            <div class="navigation">
                <div class="links">
                    <a href="/clients">Clients</a>
                    <a href="/jobs">Jobs</a>
                    <div class="hover-dropdown">
                        <a>Tickets</a>
                        <div class="hover-dropdown--wrapper">
                            <div class="item">
                                <a href="/tickets">Ticket Dashboard</a>
                            </div>
                            <div class="item">
                                <a href="/tickets/templates">Template Dashboard</a>
                            </div>
                            <div class="item">
                                <a href="/tickets/predefined">Predefined Tickets Dashboard</a>
                            </div>
                        </div>
                    </div>
                    <a href="/groups">Groups</a>
                    <a href="/users">Users</a>
                </div>
                <div class="buttons">
                    <a href="/profile" class="button ocere">Profile</a>
                    <a href="/logout" class="button orange">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="script-links">

    <!-- jQuery -->
    <script th:src="@{/js/jquery-3.4.1.js}"></script>

    <!-- Custom Scroller CDN -->
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>

    <!-- Froala -->
    <script th:src="@{/js/froala_editor.pkgd.min.js}"></script>

    <!-- Materialize -->
    <script th:src="@{/js/materialize.min.js}"></script>

    <script type="text/javascript">
        // Post Button
        $('.post-button').on('click', function () {
            var postButton = this;
            $.post($(this).data('post-url'), function () {
                window.location.href = $(postButton).data('redirect-url');
            });
        });

        // Initialize materialize dropdown
        $(document).ready(function () {
            $('select').formSelect();
        });

        // Make dropdown visible as valid on change
        $('select').change(function () {
            $(this).parent().find('.dropdown-trigger').addClass('valid');
        });

        // Configure floating action button
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'top',
                hoverEnabled: false
            });
        });

        // Make dropdown visible as valid when it has been selected even though its value is the same as initial
        $(document).ready(function () {
            $('.input-field .select-wrapper input').on('click', function () {
                $(this).addClass('valid');
            });
        });
    </script>
</div>
</body>
</html>
