<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>

    <div th:fragment="head-links">
        <link rel="stylesheet" th:href="@{/css/normalize.css}">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous">

        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
                integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
                crossorigin="anonymous"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
                integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
                crossorigin="anonymous"></script>

        <!-- Our Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </div>

</head>
<body>

<div th:fragment="header">
    <div class="header-wrapper">
        <div class="header">
            <a href="/">
                <img alt="Ocere Logo" height="42px" src="/img/ocere.svg">
            </a>
            <div class="navigation">
                <div class="links">
                    <a href="/clients">Clients</a>
                    <a href="/jobs">Jobs</a>
                    <div class="hover-dropdown">
                        <a>Tickets</a>
                        <div class="hover-dropdown--wrapper">
                            <div class="item">
                                <a href="/tickets">Ticket Dashboard</a>
                            </div>
                            <div class="item">
                                <a href="/tickets/templates">Template Dashboard</a>
                            </div>
                        </div>
                    </div>
                    <a href="/groups">Groups</a>
                    <a href="/users">Users</a>
                </div>
                <div class="buttons">
                    <a href="#" class="button green">Button 1</a>
                    <a href="#" class="button orange">Button 2</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="script-links">
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script th:src="@{/js/jquery-3.4.1.js}"></script>

    <!-- Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript">
        $('.post-button').on('click', function() {
            $.post($(this).data('post-url'));
            window.location.href = window.location.origin + $(this).data('redirect-url');
        });

        $(document).ready(function(){
            $('.fixed-action-btn').floatingActionButton();
        });
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'top'
            });
        });
    </script>
</div>
</body>
</html>
