<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ticket Dashboard</title>

    <div th:replace="templates :: head-links"></div>
</head>

<body>
<div class="wrapper">
    <div th:replace="templates :: sidebar"></div>
    <div id="content">
        <div th:replace="templates :: header"></div>

        <!-- Content Start -->
        <div id="content-text" class="container">
            <h1>Ocere-Portal</h1>
            <div class="card-deck">
                <a href="/clients">
                    <div class="card">
                        <img class="card-img-top" src="img/customer.svg" alt="img not found">
                        <div class="card-body">
                            <h4 class="card-title">Clients</h4>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="img/suitcase.svg" alt="img not found">
                        <div class="card-body">
                            <h4 class="card-title">Jobs</h4>
                        </div>
                    </div>
                </a>
                <a href="/tickets">
                    <div class="card">
                        <img class="card-img-top" src="img/bill.svg" alt="img not found">
                        <div class="card-body">
                            <h4 class="card-title">Tickets</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Content End -->

    </div>
</div>

<div th:replace="templates :: script-links"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
    });
</script>
</body>
</html>
