<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ocere - Login</title>
    <meta charset="UTF-8">

    <div th:replace="fragments :: head-links"></div>
</head>
<body style="background-color:#1AA090;">
    <div class="row">
        <div class="col s6" style="margin-left: 25%;">
            <div class="card grey lighten-5 center">
                <div class="card-content">
                    <form th:action="@{/login}" method="POST">
                        <span class="card-title">Log In</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="text" name="email" class="form-control"/>
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" type="password" name="password" class="form-control"/>
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s12">
                                <div align="center" th:if="${param.error}">
                                    <small style="color: #FF190A;">Email or Password is invalid.</small>
                                </div>
                            </div>
                            <div class="center">
                                <button type="submit" value="Login" name="Submit" class="waves-effect waves-light btn" th:text="Login"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: script-links"></div>
</body>
</html>
