<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ticket</title>

    <div th:replace="templates :: head-links"></div>

    <!-- Froala Editor -->
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css' rel='stylesheet'
          type='text/css'/>
</head>

<body>
<div class="wrapper">
    <div th:replace="templates :: sidebar"></div>
    <div id="content">
        <div th:replace="templates :: header"></div>

        <!-- Content Start -->
        <div id="content-text">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 th:text="${siteTitle}">Title</h1>
                    </div>
                    <div th:if="${ticket.template==false}" class="form-group col-12">
                        <label for="assignedUser">Template :</label>
                        <select class="form-control template-dropdown" id="templateId">
                            <option value="0" selected disabled>select template</option>
                            <option th:each="template : ${templates}"
                                    th:value="${template.id}"
                                    th:text="${template.subject}">
                            </option>
                        </select>
                    </div>
                </div>
                <form class="row" action="#" method="post" th:action="@{/tickets/{action}(action=${action})}"
                      th:object="${ticket}">
                    <div class="form-group col-12">
                        <label for="subject">Subject:</label>
                        <input th:field="*{subject}" placeholder="Subject" id="subject"
                               class="form-control"
                               type="text"/>
                    </div>
                    <div class="form-group col-6">
                        <label for="assignedUser">Assigned User:</label>
                        <select class="form-control" id="assignedUser" th:field="*{assignedUser.id}">
                            <option value="0">select user</option>
                            <option th:each="user : ${users}"
                                    th:value="${user.id}"
                                    th:text="${user.firstname + ' ' + user.lastname}"
                                    th:selected="${ticket.assignedUser.id == user.id}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="assignedGroup">Assigned Group:</label>
                        <select class="form-control" id="assignedGroup" th:field="*{assignedGroup.id}">
                            <option value="0">select group</option>
                            <option th:each="group : ${groups}"
                                    th:value="${group.id}"
                                    th:text="${group.name}"
                                    th:selected="${ticket.assignedGroup.id == group.id}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label for="description">Description:</label>
                        <textarea th:field="*{description}"
                                  th:text="${ticket.description}"
                                  class="form-control"
                                  id="description">Initialize the Froala WYSIWYG HTML Editor on a textarea.</textarea>
                    </div>
                    <div class="form-group col-6">
                        <label for="priority">Priority:</label>
                        <select class="form-control" id="priority" th:field="*{priority}">
                            <option th:each="priority : ${T(com.ocere.portal.enums.Priority).values()}"
                                    th:value="${priority}"
                                    th:text="${priority}"
                                    th:selected="${ticket.priority == priority}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="status">Status:</label>
                        <select class="form-control" id="status" th:field="*{status}">
                            <option th:each="status : ${T(com.ocere.portal.enums.Status).values()}"
                                    th:value="${status}"
                                    th:text="${status}"
                                    th:selected="${ticket.status == status}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label for="turnaround">Turnaround:</label>
                        <select class="form-control" id="turnaround" th:field="*{turnaround.id}">
                            <option th:each="turnaround : ${turnaroundTimes}"
                                    th:value="${turnaround.id}"
                                    th:text="${turnaround.description}"
                                    th:selected="${ticket.turnaround.id == turnaround.id}">
                            </option>
                        </select>
                    </div>
                    <div class="col-12">
                        <button th:text="${submitText}" type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="${cancelPage}" class="btn btn-warning">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- Content End -->

    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Froala Editor -->
<script type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js'></script>

<script type="text/javascript">
    $('.template-dropdown').on('change', function() {
        window.location.replace(window.location.origin + "/tickets/create?templateId=" + this.value);
    });

    new FroalaEditor('textarea#description', {
        // Set the image upload parameter.
        imageUploadParam: 'file',

        // Set the image upload URL.
        imageUploadURL: '/froala/upload',

        // Set request type.
        imageUploadMethod: 'POST',

        // Set max image size to 5MB.
        imageMaxSize: 5 * 1024 * 1024,

        // Allow to upload PNG and JPG.
        imageAllowedTypes: ['jpeg', 'jpg', 'png']
    });

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
    });
</script>
</body>

</html>
