<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ticket</title>

    <div th:replace="templates :: head-links"></div>
</head>

<body>
<div class="wrapper">
    <div th:replace="templates :: sidebar"></div>
    <div id="content">
        <div th:replace="templates :: header"></div>

        <!-- Content Start -->
        <div id="content-text">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Template View</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <small class="attribute-title">Subject:</small>
                        <p class="attribute-value" th:text="${template.subject}">Value</p>
                    </div>
                    <div class="col-6">
                        <small class="attribute-title">Assigned User:</small>
                        <div th:switch="${template.assignedUser}">
                            <p class="attribute-value" th:case="null">None</p>
                            <p class="attribute-value" th:case="*" th:text="${template.assignedUser.name}">Name</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <small class="attribute-title">Assigned Group:</small>
                        <div th:switch="${template.assignedGroup}">
                            <p class="attribute-value" th:case="null">None</p>
                            <p class="attribute-value" th:case="*" th:text="${template.assignedGroup.name}">Name</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <small class="attribute-title">Description:</small>
                        <p class="attribute-value" th:utext="${template.description}">Value</p>
                    </div>
                    <div class="col-6">
                        <small class="attribute-title">Priority:</small>
                        <p class="attribute-value" th:text="${template.priority}">Value</p>
                    </div>
                    <div class="col-6">
                        <small class="attribute-title">Status:</small>
                        <p class="attribute-value" th:text="${template.status}">Value</p>
                    </div>
                    <div class="col-12">
                        <small class="attribute-title">Turnaround:</small>
                        <p class="attribute-value" th:text="${template.turnaround.description}">Value</p>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-primary" th:href="${'/tickets/templates/edit/' + template.id}">Edit</a>
                        <form class="inlineBlockForm" method="post"
                              th:action="@{/tickets/templates/delete/{id}(id=${template.id})}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a href="/tickets/templates" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content End -->

    </div>
</div>

<div th:replace="templates :: script-links"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
    });
</script>
</body>

</html>
