<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <div th:replace="fragments :: head-links"></div>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="content">
        <div class="content-wrapper">
            <div class="content-container">
                <div class="container">
                    <form action="#" method="post" th:action="@{/users/edit-user}" th:object="${user}"
                          onsubmit="return myFunction();">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="firstname" type="text" th:field="*{firstname}" class="form-control"/>
                                <label for="firstname">Firstname</label>
                                <small style="color: #FF190A;" th:if="${#fields.hasErrors('firstname')}"
                                       th:errors="*{firstname}"></small>
                            </div>
                            <div class="input-field col s6">
                                <input id="lastname" type="text" th:field="*{lastname}" class="form-control"/>
                                <label for="lastname">Lastname</label>
                                <small style="color: #FF190A;" th:if="${#fields.hasErrors('lastname')}"
                                       th:errors="*{lastname}"></small>
                            </div>
                            <div class="input-field col s6">
                                <input id="email" type="text" th:field="*{email}" class="form-control"/>
                                <label for="email">Email</label>
                                <small style="color: #FF190A;" th:if="${#fields.hasErrors('email')}"
                                       th:errors="*{email}"></small>
                            </div>
                            <div class="input-field col s6">
                                <input id="newmailpassword" type="password" class="form-control"/>
                                <label for="newmailpassword">change App Password</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="newPassword" type="password" class="form-control"/>
                                <label for="newPassword">New Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="confirmPassword" type="password" th:field="*{password}"
                                       class="form-control"/>
                                <label for="confirmPassword">Confirm new password</label>
                                <small style="color: #FF190A;" th:if="${#fields.hasErrors('password')}"
                                       th:errors="*{password}"></small>
                                <br><small style="color: #FF190A;" id="passwordMatch"></small>
                            </div>


                            <div class="input-field col s12">
                                <select id="roles" th:field="*{roles}" multiple>
                                    <option th:each="role : ${listOfRoles}"
                                            th:value="${role.id}"
                                            th:text="${role.desc}"
                                            th:selected="${user.getRoles().contains(role)}">
                                    </option>
                                </select>
                                <label for="roles">Edit your roles</label>
                            </div>
                            <div class="input-field col s12 center">
                                <button type="submit" value="Submit" class="waves-effect waves-light btn"><a
                                        href="/users"></a>Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: script-links"></div>
<script type="text/javascript">
    //document.getElementById("submit").onclick = function() {myFunction()};

    function myFunction() {
        if (document.getElementById("newPassword").value != document.getElementById("confirmPassword").value) {
            document.getElementById("passwordMatch").innerHTML = 'passwords do not match';
            return false;
        }
        return true;
    }
</script>
</body>
</html>
