<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Profile</title>

    <div th:replace="fragments :: head-links"></div>
</head>

<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="content">
        <div class="content-wrapper">
            <div class="content-container">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <h1>Change User Password</h1>
                        </div>
                    </div>
                    <form action="#" method="post" th:action="@{/users/change-password/{id}(id=${user.id})}" th:object="${user}" onsubmit="return myFunction();">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="newPassword" type="password" class="form-control"/>
                                <label for="newPassword">New Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="confirmPassword" type="password" th:field="*{password}" class="form-control"/>
                                <label for="confirmPassword">Confirm new password</label>
                                <small style="color: #FF190A;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                                <br><small style="color: #FF190A;" id="passwordMatch"></small>
                            </div>
                            <div class="input-field col s12 center">
                                <button type="submit" value="Submit" class="waves-effect waves-light btn"><a th:href="${'/users/edit-user/' + user.id}"></a>Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: script-links"></div>

<script type="text/javascript">
    //modal
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.modal').modal();
    });


    //document.getElementById("submit").onclick = function() {myFunction()};

    function myFunction() {
        if (document.getElementById("newPassword").value != document.getElementById("confirmPassword").value) {
            document.getElementById("passwordMatch").innerHTML = 'passwords do not match';
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
    });
</script>
</body>
</html>
